// Add book modal

// The Modal (background)
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);

	animation: fade-in 200ms forwards;

	// Modal content Box
	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: #fefefe;
		margin: auto;
		// padding: 1.25rem;
		border-radius: 1rem;
		width: 30%;

		// animation
		animation-name: animateModal;
		animation-duration: 0.6s;

		&[closing] {
			animation: reverseAnimate 600ms forwards;
		}
	}

	// Modal Header
	&__header {
		padding: 1rem 1.5rem;
		background-color: var(--clr-primary);
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		color: var(--clr-light);

		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			font-size: 1.5rem;
		}
	}

	&__close {
		background-color: transparent;
		border: none;
		cursor: pointer;

		.iconify {
			color: var(--clr-light);
			font-size: 2rem;
			display: grid;
			place-items: center;
		}
	}

	// Modal Body
	&__body {
		padding: 1rem 1.5rem;
		color: var(--clr-text-gray);
		font-weight: 400;

		.form {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			&__control {
				display: flex;
				flex-direction: column;
				width: 100%;

				label {
					font-size: 1rem;
					font-weight: 700;
				}

				input {
					border-radius: 0.25rem;
					border: none;
					background-color: var(--clr-gray);
					font-size: 1rem;
					padding: 0.5rem;

					&::placeholder {
						color: var(--clr-text-gray);
					}
				}

				&--check {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 1rem;

					p {
						font-size: 1rem;
					}
				}
			}
		}

	}

	// Modal Footer
	&__footer {
		padding: 1.5rem 1.5rem;
		background-color: var(--clr-gray);
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		.modal-actions {
			display: flex;
			justify-content: flex-end;
			gap: 1rem;

			&__btn {
				border: none;
				border-radius: 0.5rem;
				padding: 0.125em 0.5em;
				cursor: pointer;
				font-size: 1.5rem;

				transition: transform 300ms ease-in-out,
					background-color 300ms, color 300ms;

				&:hover {
					transform: scale(1.05);
				}

				&--cancel {
					background-color: var(--clr-light);
					color: var(--clr-text-gray);

					&:hover {
						background-color: red;
						color: var(--clr-light)
					}
				}

				&--save {
					background-color: var(--clr-primary);
					color: var(--clr-light);

					&:hover {
						background-color: var(--clr-highlight);
					}
				}
			}
		}
	}

}

@keyframes animateModal {
	from {top: -300px; opacity: 0}
	to {top: 50%; opacity: 1}
}

@keyframes reverseAnimate {
	from { top: 50%; opacity: 1}
	to { top: -300px; opacity: 0}
}


// Custom toggle checkbox

// .toggle {
// 	justify-content: space-between;
// }

.switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 24px;

	// Hide default HTML checkbox
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}


// Slider
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--clr-gray);
	transition: transform 400ms cubic-bezier(0.85, 0, 0.15, 1);
	border-radius: 34px;

	// &:hover {
	// 	background-color: var(--clr-primary);
	// }

	// circle
	&::before {
		position: absolute;
		content: "";
		height: 18px;
		width: 18px;
		left: 4px;
		bottom: 3px;
		background-color: var(--clr-light);
		border-radius: 50%;
		transition: 0.4s;
	}

}

// input:focus + .slider {
// 	box-shadow: 0 0 1px var(--clr-text-dark);
// }

input:checked + .slider {
	background-color: var(--clr-primary);
}

input:checked + .slider:before {
	transform: translateX(22px);
}